/* --- General Layout --- */

.slice {
  height: 50em;
  padding: 10em 5em;
  margin-top: -2em;
}
.card-address {
  margin-top: 2em;
  padding: 0 1em;
}

/* --- Skewing --- */

.skew-outer {
  z-index: 1;
  position: relative;
}
.skew-outer .skew-set::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 55em;
  overflow: visible;
  width: 100%;
  z-index: -1;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  transform: skewY(-3deg);
}

/* --- Theme --- */
/* --
#a6a378 - muted moss
#595738 - dark moss
#F2F0C8 - cream
#bcc8da - sky blue
-- */

body {
  background-color: #595738;
}
.skew-outer .skew-set::before,
.card-address {
  color: black;
  background-color: #a6a378;
}
.hero {
  color: white;
  background: url("../images/bgd-rocks.jpg") no-repeat top center;
  background-size: cover;
}
.img-bottom {
  background: url("../images/map.png") no-repeat bottom right;
  background-size: cover;
}
.skew-outer .skew-set::before {
  webkit-box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
}
.card-address {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}
.btn-default {
  background-color: #bcc8da;
  border-color: #bcc8da;
}
.navbar-default, hr {
  background-color: #a6a378;
  border-color: #a6a378;
}
h1, h2, h3, .hero p {
  color: #F2F0C8;
}
h4 {
  color: #bcc8da;
}

/* --- Typography --- */

body {
  font-family: 'PT Sans', sans-serif;
}
h1, h2, h3, .hero p {
  font-family: 'Bitter', serif;
}
h4 {
  text-transform: uppercase;
}

