/* --- General Layout --- */
body {
  background-color: gray;
}

.slice {
  height: 45em;
  padding: 10em;
}
.hero {
  background: url("../images/bgd-rocks.jpg") no-repeat top center;
  background-size: cover;
}
.img-bottom {
  background: url("../images/bgd-flare.jpg") no-repeat bottom center;
  background-size: cover;
}


/* --- Skewing --- */
.skew-outer {
  z-index: 1;
  position: relative;
}
.skew-outer .skew-set::before {
  content: '';
  position: absolute;
  top: -2em;
  left: 0;
  height: 50em;
  background-color: white;
  overflow: visible;
  width: 100%;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  transform: skewY(-2deg);
}



