/* --- General Layout --- */
body {
  background-color: gray;
}
footer {
  background-color: white;
}
.slice {
  height: 45em;
  padding: 10em;
}
.hero {
  background: url("../images/bgd-rocks.jpg") no-repeat top center;
  background-size: cover;
  color: white;
}
.img-bottom {
  background: url("../images/map.png") no-repeat bottom center;
  background-size: cover;
  color: white;
}

/* --- Skewing --- */
.skew-outer {
  z-index: 1;
  position: relative;
}
.skew-outer .skew-set::before {
  content: '';
  position: absolute;
  top: -2em;
  left: 0;
  height: 50em;
  background-color: white;
  webkit-box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 2px -1px rgba(0,0,0,0.5);
  overflow: visible;
  width: 100%;
  z-index: -1;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  transform: skewY(-3deg);
}



